html,
body {
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  font-family: cursive;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
